<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ArXiv Round Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        :root {
            {% for name, value in colors.items() %}
            --{{ name }}: {{ value }};
            {% endfor %}
        }
    </style>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</head>

<body>
    <!-- Page Front Matter -->
    <div class="page-frontmatter">
        <h1>ArXiv Round Up</h1>

    <!-- Filter and Sort Parameters -->
    <form id="filter-form" method="get"> 
        <label for="sort_by">Sort by:</label>
        <select name="sort_by" id="sort_by" onchange="applyFilters()">
            <option value="date_published" {% if current_sort == 'date_published' %}selected{% endif %}>Publish Date</option>
            <option value="date_updated" {% if current_sort == 'date_updated' %}selected{% endif %}>Update Date</option>
            <option value="ai_rating" {% if current_sort == 'ai_rating' %}selected{% endif %}>AI Rating</option>
        </select>
        
        <label for="filter_tag">Filter by tag:</label>
        <select name="filter_tag" id="filter_tag" onchange="applyFilters()">
            <option value="">All tags</option>
            {% for tag in all_tags %}
                <option value="{{ tag }}" {% if current_filter == tag %}selected{% endif %}>{{ tag }}</option>
            {% endfor %}
        </select>

        <label for="show_processed">Show:</label>
        <select name="show_processed" id="show_processed" onchange="applyFilters()">
            <option value="a" {% if show_processed == 'a' %}selected{% endif %}>All articles</option>
            <option value="u" {% if show_processed == 'u' %}selected{% endif %}>Unprocessed only</option>
            <option value="r" {% if show_processed == 'r' %}selected{% endif %}>To Read only</option>
            <option value="R" {% if show_processed == 'R' %}selected{% endif %}>Read only</option>
            <option value="d" {% if show_processed == 'd' %}selected{% endif %}>To Download only</option>
            <option value="D" {% if show_processed == 'D' %}selected{% endif %}>Downloaded only</option>
            <option value="-" {% if show_processed == '-' %}selected{% endif %}>Not Relevant only</option>
        </select>

        <label for="theme">Select Theme:</label>
        <select name="theme" id="theme" onchange="this.form.submit()">
            {% for theme in available_themes %}
                <option value="{{ theme }}" {% if current_theme == theme %}selected{% endif %}>{{ theme }}</option>
            {% endfor %}
        </select>
    </form>

    <!-- Settings Button -->
    <button onclick="window.location.href='{{ url_for('settings') }}'" class="settings-button">Settings</button>
    </div>

    <!-- List of Articles -->
    {% for article in articles %}
    <div class="article-section">
        <div class="article-arxiv-id">{{ article[3] }}</div>
        <div class="article-title">{{ article[2] }}</div>
        <div class="article-meta">
            <p><strong>Authors:</strong> {{ article[9] }}</p>
            <p><strong>Published Date:</strong> {{ article[5] if article[5] else 'N/A' }}</p>
            <p><strong>Category:</strong> {{ article[7] }}</p>
            <p><strong>Tags:</strong> {{ article[11] }}</p>
            <p><strong>Processed:</strong> {{ 'Yes' if article[-1] else 'No' }}</p>
            <a href="{{ article[4] }}" target="_blank" class="pdf-button">View PDF</a>
            <a href="{{ url_for('link_article', arxiv_id=article[3]) }}" class="link-button">Link</a>
            

            <!-- Drop Down Menu for processed -->
            <select name="process_status" class="process-button" onchange="location.href='{{ url_for('process_article', arxiv_id=article[3], status='') }}' + this.value">
                <option value="u" {% if article[-1] == 'u' %}selected{% endif %}>Unprocessed</option>
                <option value="r" {% if article[-1] == 'r' %}selected{% endif %}>To Read</option>
                <option value="R" {% if article[-1] == 'R' %}selected{% endif %}>Read</option>
                <option value="d" {% if article[-1] == 'd' %}selected{% endif %}>To Download</option>
                <option value="D" {% if article[-1] == 'D' %}selected{% endif %}>Download</option>
                <option value="-" {% if article[-1] == '-' %}selected{% endif %}>Not Relevant</option>
            </select>

        <!-- TO DO: Make Abstract and AI Justification Collapsable again -->
        </div> 
            <div class="article-abstract">
                <strong>Abstract:</strong> {{ article[10] if article[10] else 'N/A' }}
            </div>
            <div class="article-ai">
                <p><strong>AI Confidence:</strong> {{ "%.0f%%"|format(article[12]*10) if article[12] is not none else 'N/A' }}</p>
                <div class="confidence-bar">
                    <div class="confidence-level" style="width: {{ article[12]*10 if article[12] is not none else 0 }}%">
                    </div>
                </div>
                <p><strong>AI Justification:</strong> {{ article[13] if article[13] is not none else 'N/A' }}</p>
            </div>
        </div>
        {% endfor %}
            </tbody>
        </table>
    </body>
</html>