<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChiScraper - Settings</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        :root {
            {% for name, value in colors.items() %}
            --{{ name }}: {{ value }};
            {% endfor %}
        }
    </style>

    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>

<body>
    <div class="page-frontmatter">
        <h1>Settings</h1>
    </div>

        <form id="filter-form" method="get">
        <label for="theme">Select Theme:</label>
        <select name="theme" id="theme" onchange="this.form.submit()">
            {% for theme in available_themes %}
                <option value="{{ theme }}" {% if current_theme == theme %}selected{% endif %}>{{ theme }}</option>
            {% endfor %}
        </select>
        </form>

        <a href="{{ url_for('index') }}" class="link-button">Back to Home</a>
</body>
</html>